<div>
    <mat-dialog-content>
        <h2>Actions with bank accounts</h2>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div>
            <button mat-button mat-dialog-close (click)="openAddDialog()">Add</button>
            <button mat-button mat-dialog-close (click)="openUpdateDialog()">Update</button>
            <button mat-button mat-dialog-close (click)="openDeleteDialog()">Delete</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </div>
    </mat-dialog-actions>
</div>