<div *ngFor="let bankAccount of bankAccounts" (click)="openUpdateBankAccountDialog(bankAccount.id)">
    <p>------------------------------------------------------------------------------</p>
    <p>{{bankAccount.contributor.fio}}</p>
    <p>{{bankAccount.bank.name}}</p>
    <p>{{bankAccount.rate.name}}</p>
    <p>------------------------------------------------------------------------------</p>
</div>
<button mat-button (click)="openBankAccountDialog()" mat-dialog-close>Action with bank account</button>
<button mat-button (click)="openBankDialog()" mat-dialog-close>Action with bank</button>
<button mat-button (click)="openContributorDialog()" mat-dialog-close>Action with contributor</button>
<button mat-button (click)="openRateDialog()" mat-dialog-close>Action with rate</button>